# RubyMine project.
/.idea

# Bundler config.
Gemfile.lock
/.bundle

# Documentation
/doc

# Yard files
/.yardoc

# Combustion rails files
/test/rails_engine/tmp
/test/rails_engine/log
/test/rails_engine/db/*.sqlite

# Brakeman output
brakeman.html

# Simplecov output
/coverage

# Ignore built gems
*.gem
